######################
# 操作系统文件
######################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.metadata_never_index
.metadata_never_index_unless_rootfs
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~

######################
# 编辑器和IDE
######################
# VSCode
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# JetBrains (IntelliJ IDEA, Android Studio, PyCharm, etc.)
.idea/
*.iml

# Eclipse
.project
.classpath
.cproject
.settings/

# Xcode
*.xcworkspace
*.xcodeproj
xcuserdata/

# Visual Studio
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace

######################
# 编译输出与依赖
######################
# Java
*.class
*.jar
*.war
*.ear

# Python
__pycache__/
*.py[cod]
*.so

# C/C++
*.o
*.obj
*.so
*.exe
*.out
*.dSYM/
*.pdb

# Node.js
node_modules/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android
/app/release/
.android/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/
/coverage/
/ios/Flutter/.last_build_id

# Flutter build outputs
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release

######################
# 日志与临时文件
######################
*.log
*.tmp
*.temp
*.swp
*.swo

######################
# 数据库/缓存/其他工具
######################
# Django / Flask
*.sqlite3
db.sqlite3
instance/

# Rails
*.gem
*.rbc
*.sass-cache/
.rspec
.yarn-integrity

# Terraform
*.tfstate
*.tfstate.*

# Haskell
*.hi
*.dyn_hi
*.dyn_o

# Lua
*.luac

# PITest
report/

######################
# 其他
######################
*.zip
*.tar.gz
*.rar
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/
